body {
    font-family: "Crimson Text", serif;
    background-color: #F2FFFC;
}

h1{
	font-size: 60px;
	background-color: #851944;
	color: #FFF;
	text-align: center;
	font-family: "Open Sans Condensed", sans-serif; 
	}
h2{
	font-size: 35px;
	font-family: "Open Sans Condensed", sans-serif; 
	}
p{
	text-align: justify;
}